@use '@/assets/scss/_utils' as utils;

*{box-sizing: border-box;}
html{font-size: 10px;}
body{
  font-family: $body-font-family;
  font-size: $size-base;
  font-weight: $weight-normal;
  color: $color-black;
  line-height: $lh-small;
  letter-spacing: -0.02em;
  &.fixed{
    @include utils.size(100vw, 100vh);
    @include utils.overflowHide;
  }
}

.hide{
  @include utils.position(absolute);
  width: 1px!important;
  height: 1px!important;
  margin: -1px;
  @include utils.overflowHide;
  clip-path: polygon(0 0, 0 0, 0 0);
}

// layout
#container{
  @include utils.size(100%);
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px solid $color-gray-2;
  border-right: 1px solid $color-gray-2;
  @include xs{border: 0}
}
#content{
  > section{
    padding: 0 2rem 2rem;
    // &.w-100{padding: 0 0 2rem;}
  }
}

// input
input{
  outline: none;
  @include utils.border(1px, solid, $color-gray-2);
  &:focus{border-color: $color-main;}
}

// img
.img-wrap{
  img{max-width: 100%;}
  &.w-100{
    @include utils.size(100%);
    img{@include utils.size(100%)}
  }
  &.contain{
    img{
      @include utils.size(100%, 100%);
      object-fit: cover;
    }
  }
}

// typography
.typography{word-break: keep-all;}
.tag-list{
  @include utils.flexBox(row, null, null, .8rem, wrap);
  span{
    color: $color-gray-3;
    &::before{
      content: '#';
      display: inline-block;
      color: $color-main;
      margin-right: .2rem;
    }
  }
}

//list
.decimal-list{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, auto);
  gap: .4rem 1rem;
  list-style-type: decimal;
  word-break: keep-all;
  padding-left: 1.8rem;
  list-style-position: outside;
  > li{
    font-size: $size-sm;
    line-height: $lh-medium;
  }
}

// tab menu
.tab-menu{
  @include utils.flexBox(row, center, center, .6rem);
  button{
    @include utils.button($color-sub, $color-black, $size-sm, .4rem .8rem, null, 1.4rem);
    @include utils.transition(all);
    @include utils.border(1px, solid, $color-gray-2);
    font-weight: $weight-medium;
    &:hover, &.on{
      background-color: $color-main;
      color: $color-white;
      border-color: $color-main;
    }
  }
}