@import '@/assets/scss/_utils';

.search-wrap{
  max-width: 640px;
  @include size(100%);
  margin: 0 auto;
  .input-wrap{
    @include position(relative);
    input{
      @include size(100%);
      padding: 1.8rem 5rem 1.8rem 2rem;
      @include radius(3rem);
      @include overflowHide;
      &::placeholder{font-size: $size-base;}
    }
    button{
      @include button(transparent, $color-main);
      @include size(3rem, 3rem);
      @include position(absolute, 50%, null, null, 2rem);
      transform: translateY(-50%);
      z-index: 1;
      font-size: $size-lg;
    }
  }
}