@use '@/assets/scss/_utils' as utils;

.search-wrap{
  max-width: 640px;
  @include utils.size(100%);
  margin: 0 auto;
  .input-wrap{
    @include utils.position(relative);
    input{
      @include utils.size(100%);
      padding: 1.8rem 5rem 1.8rem 2rem;
      @include utils.radius(3rem);
      @include utils.overflowHide;
      &::placeholder{font-size: $size-base;}
    }
    button{
      @include utils.button(transparent, $color-main);
      @include utils.size(3rem, 3rem);
      @include utils.position(absolute, 50%, null, null, 2rem);
      transform: translateY(-50%);
      z-index: 1;
      font-size: $size-lg;
    }
  }
}