@use '@/assets/scss/_utils' as utils;

.title-wrap{
  @include utils.textAlign(center);
  margin-bottom: 4rem;
  strong{color: $color-main;}
  .tab-menu{margin-top: 1rem;}
}

.no-result{
  @include utils.textAlign(center);
}