@use '@/assets/scss/_utils' as utils;

.fixed-menu{
  @include utils.position(sticky, 0);
  @include utils.textAlign(center);
  @include utils.flexBox(row, space-between, center);
  z-index: 8;
  background: $color-main;
  padding: 1.2rem 1rem;
  *{color: $color-white;}
  .title{
    @include utils.position(absolute, 50%, null, 50%);
    transform: translate(-50%, -50%);
  }
  > button{
    @include utils.size(3rem, 3rem);
    @include utils.button(null, null, 2.4rem);
  }
}