@use '@/assets/scss/_utils' as utils;

.visual{
  @include utils.size(100%);
  @include utils.textAlign(center);
  padding: 4rem 2rem;
  .logo{
    @include utils.size(18rem);
    img{width: 100%;}
  }
  .title-wrap{margin: 2rem 0;}
}